<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spotune</title>
<link rel="stylesheet" th:href="@{/CSS/indexStyle.css}" type="text/css">
</head>
<body>
	<div>
		<h1>SPO<span>T</span>UNE</h1>
		<nav class="titlebar">
			<form action="login" method="get">
				<button type="submit" class="buttons">Login</button>
			</form>
			<form action="registration" method="get">
				<button type="submit" class="buttons">Register</button>
			</form>
	</nav>
	</div>
	<div class="content">
		<h1>Welcome to Spotune!</h1>
	</div>
	
</body>
</html>
